VITE_SUPABASE_URL=https://cdfoywrqdkthegksvsrh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkZm95d3JxZGt0aGVna3N2c3JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NDgwNTIsImV4cCI6MjA5NzUyNDA1Mn0.Z8Zv-bmtfjShHCin6YHjMXanxcU2sdC4qdDxMNJ5qRM